$global-color:                                 rgb(53, 165, 38);

$slidenav-large-padding-vertical:                18px;
$slidenav-large-padding-horizontal:              22px;
$slidenav-hover-color:                         black;